html {
    font-size: 10px;
    background-color: #047c1f;
  }

body {
    width: 700px;
    margin: 0 auto;
    background-color: #c5f7d1;
    padding: 50px 20px 20px 20px;
    border: 5px solid black;
}

/* メニューバー */
nav {
    width: 100%;
    height: 70px;
    background-color: rgba(212,253,161,0.6);
    padding-top: 5px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
  
  .header-spell {
    display: block;
    text-decoration: none;
    color: #038120;;
    margin-right: 35px;
  }

/* 本文 */
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #047c1f;
    text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  color: #047c1f;
  text-decoration: underline;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #005a15;
}

img {
  display: block;
  margin: 0 auto;
}

/* サイト内リンク */
.pages {
    color: #c5f7d1;
  }

/* 画面内アニメーション */
.fadeUp {
    animation-name: fadeUpAnime;/*アニメーションの定義名*/
    animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
    animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
    opacity:0;
    }
    
    /*アニメーションの開始から終了までを指定する*/
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }

    /* アニメーション１回分の時間の長さを指定するCSS*/

.js-scrollAnimation.is-animated .change-time05{
    animation-duration: 0.5s;
  }
  
  .change-time1{
    animation-duration: 1s;
  }
  
  .change-time15{
    animation-duration: 1.5s;
  }
  
  .change-time2{
   animation-duration: 2s;
  }
  
  .change-time25{
  animation-duration: 2.5s;
  }
  
  /*========= レイアウトのためのCSS ===============*/
  
  .wrapper{
    overflow: hidden;
  }
  
  .flex{
    display:flex;
    flex-wrap: wrap;
  }
  
  .time-box{
    font-size: 16px;
    width: 200px;
    padding: 20px;
    margin:0 20px 20px 0;
    background: #047c1f;
    color: #c5f7d1;
    box-sizing:border-box;
    text-align: center;
  }
