html {
    font-size: 10px;
    background-color: #047c1f;
  }

body {
    width: 700px;
    margin: 0 auto;
    background-color: #c5f7d1;
    padding: 50px 20px 20px 20px;
    border: 5px solid black;
}

/* メニューバー */
nav {
  width: 100%;
  height: 70px;
  background-color: rgba(212,253,161,0.6);
  padding-top: 5px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  display: flex;
}
li {
  list-style: none;
}

.header-spell {
  display: block;
  text-decoration: none;
  color: #038120;;
  margin-right: 35px;
}

/* 本文 */
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #047c1f;
    text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  color: #047c1f;
  text-decoration: underline;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #005a15;
}

img {
  display: block;
  margin: 0 auto;
}

/* サイト内リンク */
.pages {
  color: #c5f7d1;
}

/* 新着 */
.paragraph2 dl {
  background: #047c1f;
  padding: 10px;
  width: 550px;
  height: 10em;
  overflow: auto;
  border: 5px solid;
}

.paragraph2 dt {
  text-decoration: underline;
  font-size: 16px;
  color:#c5f7d1;
  font-weight:bold;
  padding:0 10px 0 0;
  width:120px;
  float:left;
  margin-bottom: 7px;
}

.paragraph2 dd {
  font-size: 16px;
  color:#c5f7d1;
  margin-bottom: 7px;
}

.paragraph2 dl::after {
  content: '';
  display: block;
  clear: both;
}

/* 画面内アニメーション */
.fadeUp {
  animation-name: fadeUpAnime;/*アニメーションの定義名*/
  animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
  animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
  opacity:0;
  }
  
  /*アニメーションの開始から終了までを指定する*/
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  /* アニメーション１回分の時間の長さを指定するCSS*/

.js-scrollAnimation.is-animated .change-time05{
  animation-duration: 0.5s;
}

.change-time1{
  animation-duration: 1s;
}

.change-time15{
  animation-duration: 1.5s;
}

.change-time2{
 animation-duration: 2s;
}

.change-time25{
animation-duration: 2.5s;
}

/*========= レイアウトのためのCSS ===============*/

.wrapper{
  overflow: hidden;
}

.flex{
  display:flex;
  flex-wrap: wrap;
}

.time-box{
  font-size: 16px;
  width: 200px;
  padding: 20px;
  margin:0 20px 20px 0;
  background: #047c1f;
  color: #c5f7d1;
  box-sizing:border-box;
}
  

/* 落ち葉アニメーション */
.box-wrapper {
  position: relative;
  max-width: 600px;
  height: 50vh;
  margin: 0 auto;
}

.box {
  width: 100%;
  text-align: center;
}

.text {
  padding: 20px;
}

.item {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 15px;
  height: 20px;
  margin: 0 auto;
  border-radius: 0% 70%;
  background: #914928;
  opacity: 0;
}

.item--horizontal {
  width: 20px;
  height: 15px;
}

.item--color2 {
  background: #ada137;
}

.item--color3 {
  background: #44681e;
}

@keyframes fall {
  from {
    opacity: 0;
    top: -50px;
  }

  20% {
    opacity: 1;
  }

  to {
    opacity: 1;
    top: 50vh;
  }
}

@keyframes sway1 {
  from {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate3d(-50px, 0px, 0px) rotate(-10deg);
  }

  75% {
    transform: translate3d(50px, 0px, 0px) rotate(10deg);
  }

  to {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
}

@keyframes sway2 {
  from {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate3d(50px, 0px, 0px) rotate(10deg);
  }

  75% {
    transform: translate3d(-50px, 0px, 0px) rotate(-10deg);
  }

  to {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
}

@keyframes sway3 {
  from {
    transform: translate3d(0px, 0px, 0px) rotate(40deg);
  }

  25% {
    transform: translate3d(50px, 0px, 0px) rotate(20deg);
  }

  75% {
    transform: translate3d(-50px, 0px, 0px) rotate(-20deg);
  }

  to {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }
}


.js-scroll-fall.is-animated .item:nth-child(1) {
  animation: fall 4s linear forwards, sway1 4s ease-in-out alternate;
}

.js-scroll-fall.is-animated .item:nth-child(2) {
  left: 56%;
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  animation-delay: 0.3s;
}

.js-scroll-fall.is-animated .item:nth-child(3) {
  left: 40%;
  transform: translate3d(0px, 0px, 0px) rotate(90deg);
  animation: fall 4s linear forwards, sway1 4s ease-in-out alternate;
  animation-delay: 0.5s;
}

.js-scroll-fall.is-animated .item:nth-child(4) {
  left: 43.5%;
  transform: translate3d(0px, 0px, 0px) rotate(120deg);
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  animation-delay: 0.7s;
}

.js-scroll-fall.is-animated .item:nth-child(5) {
  left: 54%;
  transform: translate3d(0px, 0px, 0px) rotate(60deg);
  animation: fall 4s linear forwards, sway1 4s ease-in-out alternate;
  animation-delay: 0.9s;
}

.js-scroll-fall.is-animated .item:nth-child(6) {
  left: 45%;
  transform: translate3d(0px, 0px, 0px) rotate(30deg);
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  animation-delay: 1s;
}

.js-scroll-fall.is-animated .item:nth-child(7) {
  left: 50%;
  transform: translate3d(0px, 0px, 0px) rotate(-65deg);
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  /* animation-delay: 1s; */
}

.js-scroll-fall.is-animated .item:nth-child(8) {
  left: 55%;
  transform: translate3d(0px, 0px, 0px) rotate(40deg);
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  animation-delay: 0.2s;
}

.js-scroll-fall.is-animated .item:nth-child(9) {
  left: 70%;
  transform: translate3d(0px, 0px, 0px) rotate(-30deg);
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  animation-delay: 0.5s;
}

.js-scroll-fall.is-animated .item:nth-child(10) {
  left: 65%;
  transform: translate3d(0px, 0px, 0px) rotate(-135deg);
  animation: fall 4s linear forwards, sway2 4s ease-in-out alternate;
  animation-delay: 0.7s;
}

.js-scroll-fall.is-animated .item:nth-child(11) {
  left: 60%;
  transform: translate3d(0px, 0px, 0px) rotate(135deg);
  animation: fall 4s linear forwards, sway3 4s ease-in-out alternate;
  animation-delay: 0.9s;
}

.js-scroll-fall.is-animated .item:nth-child(12) {
  left: 53%;
  transform: translate3d(0px, 0px, 0px) rotate(-120deg);
  animation: fall 4s linear forwards, sway1 4s ease-in-out alternate;
  animation-delay: 0.8s;
}

.js-scroll-fall.is-animated .item:nth-child(13) {
  left: 40%;
}